# Project place file
/Speer.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
/ReplicatedStorage/Packages
sourcemap.json
ServerPackages/
sourcemap.json
wally.lock

# === Wally packages ===
Packages/
Packages/_Index/

# === Rojo & build artifacts ===
build/
*.json.lock
*.rbxl.project.json
*.rbxmx.project.json
